<form>
    <div class="form-group" *ngFor="let item of visualizationArray;">
            <button type="button" class="btn btn-primary" (click)="onVisualizationClicked(item)">
                        {{item.data.name}}
            </button>
    </div>
</form>