<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Test</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div *ngIf="displayStep == 1">
                    select Rows :
                    <input type="number" class="form-control" step="1" min="1" [(ngModel)]="totalRows" max="10">
                </div>
                <div *ngIf="displayStep == 2">
                    <div class="form-inline" *ngFor="let item of [].constructor(totalRows);let i = index">
                        <label for="exampleFormControlSelect1">Row {{i + 1}}</label>
                        <input type="number" class="form-control" step="1" min="1" (change)="onInptChange($event, i)" max="5" value="1">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="next()" *ngIf="showNext">Next</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onSubmit()" *ngIf="!showNext">Submit</button>
            </div>

        </div>
    </div>
</div>