<div class="col" [attr.id]="dynamicId">
        <button type="button" class="btn btn-primary" (click)="onCreateVisualization()">Create</button>
        <ng-template #visualizationContainer></ng-template>  
</div>