<!--The content below is only a placeholder and can be replaced.-->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openWizard()">
  Create Container
</button>
<div class="container">
<ng-template #reportContainer></ng-template>
</div>
<wizard [showModal]="showModal" (createLayoutEmitter)="createLayout($event)"></wizard>
<visualization-wizard [showModal]="showVisualizationModal" [totalSteps]="displayVisualizationSteps" [selectedContainerRef]="selectedContainerRef"></visualization-wizard>
<!-- Modal -->
