<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Test</h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ng-template #visualizationContainer></ng-template>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="next()" *ngIf="showNext">Next</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onSubmit()" *ngIf="!showNext">Submit</button>
            </div>

        </div>
    </div>
</div>